/* Pokemon filter styles */

/* Search bar styles */
ion-searchbar {
  --background: lightgray ;
  --color: black;
  --cancel-button-color: black;
  --clear-button-color: black;
  --icon-color: black;
  --placeholder-color: black;
  --box-shadow: 0;
  --border-radius: 30px;
}
