/* Card styles for displaying Pokémon information */

// Pokémon card styling
ion-card {
  --background: transparent;
  backdrop-filter: blur(40px);
  border-radius: 20px;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Card title styling */
ion-card-title {
  font-family: 'Pokemon Solid';
  color: #ffcb05;
  text-shadow: 2px 2px 0 #2a75bb;
}

/* Card image styling */
ion-card ion-button img {
  width: 100%;
  height: auto;
}

/* Icon styling */

/* Small devices (SM: min-width 360px) */
@media (min-width: 360px) {
  ion-button ion-icon {
    font-size: 48px; /* Adjust icon size for small devices */
  }
}

/* Medium devices (MD: min-width 768px) */
@media (min-width: 768px) {
  ion-button ion-icon {
    font-size: 46px; /* Adjust icon size for medium devices */
  }
}

/* Large devices (LG: min-width 992px) */
@media (min-width: 992px) {
  ion-button ion-icon {
    font-size: 44px; /* Adjust icon size for large devices */
  }
}

/* Extra large devices (XL: min-width 1200px) */
@media (min-width: 1200px) {
  ion-button ion-icon {
    font-size: 42px; /* Adjust icon size for extra large devices */
  }
}
