<ion-card>
  <ion-card-header>
    <ion-card-title>{{ pokemon.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-buttons>
      <ion-button slot="icon-only" fill="clear" size="small" (click)="toggleFavorite(pokemon)">
        <ion-icon
          [name]="pokemon.isFavorite ? 'star' : 'star'"
          [color]="pokemon.isFavorite ? 'warning' : 'medium'"
          slot="icon-only">
        </ion-icon>
      </ion-button>
      <ion-button (click)="viewDetails(pokemon.name)">
        <img [src]="pokemon.image" alt="{{ pokemon.name }}" />
      </ion-button>
    </ion-buttons>
  </ion-card-content>
</ion-card>
