@import url("https://fonts.cdnfonts.com/css/pokemon-hollow");
/* home.page.scss */

/* Base background (XS: default for all sizes) */
ion-content {
  --background: transparent;
  background-image: url("../../../assets/images/mick-haupt-KtTF68ZjBak-unsplash-lg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  color: #222;
}

/* Small devices (SM: min-width 576px) */
@media (min-width: 576px) {
  ion-content {
    background-image: url("../../../assets/images/mick-haupt-KtTF68ZjBak-unsplash-xs.jpg");
  }
}

/* Medium devices (MD: min-width 768px) */
@media (min-width: 768px) {
  ion-content {
    background-image: url("../../../assets/images/mick-haupt-KtTF68ZjBak-unsplash-md.jpg");
  }
}

/* Large devices (LG: min-width 992px) */
@media (min-width: 992px) {
  ion-content {
    background-image: url("../../../assets/images/mick-haupt-KtTF68ZjBak-unsplash-lg.jpg");
  }
}

/* Extra large devices (XL: min-width 1200px) */
@media (min-width: 1200px) {
  ion-content {
    background-image: url("../../../assets/images/mick-haupt-KtTF68ZjBak-unsplash-full.jpg");
  }
}

/* Header and footer styling for better text contrast */
ion-header,
ion-footer {
  color: #222;
}

/* Title shadow for readability */
ion-title {
  text-align: center;
  font-family: "Pokemon Solid", sans-serif;
  letter-spacing: 10px;
  font-size: 55px;
  margin: auto;
  color: #ffcb05;
  text-shadow: 2px 2px 0 #2a75bb;
}

/* Toolbar styles */
ion-toolbar {
  --background: white;
  --border-width: 1px 0px 0px 0px;
  --border-color: white;
}

/* Segment button styles */
ion-segment-button {
  --background: red;
  --background-checked: darkred;
  --background-focused: red;
  --border-color: black;
  --color-checked: white;
  --color-focused: white;
  --indicator-color: darkred;
  --color: white;
  --border-color: black;
  --indicator-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  flex: 1 1 auto; // Divisão automática
  max-width: none; // Sem limite fixo
}

ion-segment {
  width: 100%;
  display: flex;
}

/* Pagination text */
ion-text {
  color: black;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 0px 20px 0px 20px;
}

/* Buttons styling */
ion-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Button styling */
ion-button {
  --color: white;
  background-color: red;
  border-radius: 10px;
  font-weight: 700;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

// Hover states
ion-button:hover {
  --background: darkred;
  --color: white;
}
