<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Poke App</ion-title>
    <ion-buttons>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="true"></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-grid *ngIf="!loading">
    <ion-row>
      <ion-col sizeXs="6" sizeSm="6" size-md="4" size-lg="3" size="2" *ngFor="let pokemon of pokemons">
        <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="loadPreviousPokemons()" [disabled]="currentPage === 1">Previous</ion-button>
      <ion-text>Page {{ currentPage }} of {{ totalPages }}</ion-text>
      <ion-button (click)="loadMorePokemons()" [disabled]="currentPage === totalPages">Next</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
